<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="static/img/favicon.png" rel="icon" type="image/png">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<br>
<br>
<div class="container w-25 form-container align-items-center">
    <form method="post">
        <label for="login" class="form-label">Login:</label>
        <input class="form-control" type="text" id="login" name="login" required>
        <br>
        <label for="password" class="form-label">Password:</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="text-danger">
            {{ message }}
        </div>
        <br>
        {% module xsrf_form_html() %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>